<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form
      (ngSubmit)="submitFormulario()"
      autocomplete="off"
      [formGroup]="miFormulario"
    >
      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del Usuario"
            formControlName="nombre"
          />
          <span *ngIf="campoNoValido('nombre')" class="form-text text-danger">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>
      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del Usuario"
            formControlName="email"
          />
        </div>
        <span *ngIf="campoNoValido('email')" class="form-text text-danger">
          {{ emailErrorMsg }}
        </span>
      </div>
      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Username del Usuario"
            formControlName="username"
          />
        </div>
        <span *ngIf="campoNoValido('username')" class="form-text text-danger">
          El username no puede ser Strider
        </span>
      </div>
      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password de su cuenta"
            formControlName="password"
          />
        </div>
      </div>
      <span *ngIf="campoNoValido('password')" class="form-text text-danger">
        La contraseña deve de ser mayor de 6 caracteres
      </span>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar contraseña"
            formControlName="password2"
          />
        </div>
        <span *ngIf="campoNoValido('password2')" class="form-text text-danger">
          Las contraseñas deben de ser iguales
        </span>
      </div>

      <div class="row">
        <div class="col">
          <button
            (click)="submitFormulario()"
            class="btn btn-primary float-end"
            [disabled]="miFormulario.pending"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid: {{ miFormulario.valid }}</h2>
<h2>FOrm errors</h2>
<pre> {{ miFormulario.errors | json }}</pre>
<h2>Nombre</h2>
<pre>{{ miFormulario.controls.nombre.errors | json }}</pre>

<h2>Email</h2>
<pre>{{ miFormulario.controls.email.errors | json }}</pre>

<h2>Username</h2>
<pre>{{ miFormulario.controls.username.errors | json }}</pre>

<h2>PAsswprd</h2>
<pre>{{ miFormulario.controls.password.errors | json }}</pre>

<h2>PAssword2</h2>
<pre>{{ miFormulario.controls.password2.errors | json }}</pre>
